<div class="container">
  <div class='jumbotron' style = "background-image:url('<%= background_image_url %>'); background-size:cover">
    <!-- <%= cl_image_tag 'sample.jpg', width: 'auto', crop: 'scale', class: 'cloudinary-image', dpr: 'auto' %> -->
  <!-- <div class="jumbotron" style = "background-image:url('<%= background_image_url %>'); background-size:cover"> -->
    <!-- <%= cl_image_tag 'sample.jpg', responsive_width: true, crop: 'scale' %> -->
    <!-- <%= cl_image_tag background_image_url, visibility:"hidden" %> -->
    <!-- <div class="jumbotron" cl_image_tag "sample.jpg"  background-size:cover> -->
  </div>
  <div class="row">
    <div class="col-xs-4">
      <h2>HTML</h2>
        <p>HTML is a markup language that is used for creating web pages. The HTML tutorial section will help you understand the basics of HTML, so that you can create your own web pages or website.</p>
        <p><a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>

        </div>

        <div class="col-xs-4">

            <h2>CSS</h2>

            <p>CSS is used for describing the presentation of web pages. The CSS tutorial section will help you learn the essentials of CSS, so that you can fine control the style and layout of your HTML document.</p>

            <p><a href="http://www.tutorialrepublic.com/css-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>

        </div>

        <div class="col-xs-4">

            <h2>News</h2>

            <p>We are doing something cool today.<br>

            We are recruiting! Visit our <a href="/career/" target="_blank">career page</a> for more information.</p>

        </div>
      </div>
